<button routerLink="/public-data" class="ui success button">
  public data
</button>
<button routerLink="/coin-info" class="ui success button">
  coin info
</button>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12" >
  <h5 class="heading"><i class="fa fa-user"></i>Users</h5>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
    <div class="timeline-panel">
      <div class="row gameVersions">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>User Id</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let user of users; let i = index">
                <tr>
                  <td>{{user.name}}</td>
                  <td>{{user.userId}}</td>
                  <td>
                    <button routerLink="/users/{{user.name}}" class="ui success button action">
                      <i class="fa fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
