<button routerLink="/users" class="ui success button">
  Back
</button>

<button routerLink="/coin-info" class="ui success button">
  coin info
</button>

<p style="color:red">{{coinError}}</p>
<label>Currency : </label>
<select class="ui default button" style="width:200px;display:inline" [(ngModel)]="selectedCurrency">
  <option value="">select currency</option>
  <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
</select>
<button (click)="getCoins()" type="button" class="btn btn-primary button">Get coins</button>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12" >
  <h5 class="heading">Coins</h5>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
    <div class="timeline-panel">
      <div class="row">
        <div class="col-sm-12" *ngIf="coins[0]">
          <!-- <table class="table row-border hover" datatable="ng" [dtOptions]="dtOptions"> -->
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th style="cursor:pointer" (click)="getCoins('rank', (sort['rank'] === 'asc') ? 'desc' : 'asc', page)"><i class="fa fa-sort"></i> Rank</th>
                <th>Exchange</th>
                <th style="cursor:pointer" (click)="getCoins('priceInUsd', (sort['priceInUsd'] === 'asc') ? 'desc' : 'asc', page)"><i class="fa fa-sort"></i> Price(USD)</th>
                <th>Price(BTC)</th>
                <th *ngIf="coins[0].currency !== 'USD'">Price({{coins[0].currency}})</th>
                <th style="cursor:pointer" (click)="getCoins('volume24Hour', (sort['volume24Hour'] === 'asc') ? 'desc' : 'asc', page)"><i class="fa fa-sort"></i> Volume(24H)<br/>({{coins[0].currency}})</th>
                <th style="cursor:pointer" (click)="getCoins('marketCap', (sort['marketCap'] === 'asc') ? 'desc' : 'asc', page)"><i class="fa fa-sort"></i> Market Cap({{coins[0].currency}})</th>
                <th>Available Supply</th>
                <th>Total Supply</th>
                <th>Change(1D)</th>
                <th>Change(24H)</th>
                <th>Change(1W)</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let coinSymbol of uiCoins.keys; let i = index">
                <tr>
                  <td>{{uiCoins.data[coinSymbol].name}}</td>
                  <td>{{uiCoins.data[coinSymbol].symbol}}</td>
                  <td>{{uiCoins.data[coinSymbol].rank}}</td>
                  <td>{{uiCoins.data[coinSymbol].exchange}}</td>
                  <td class="{{uiCoins.data[coinSymbol].priceClass}}">{{numberFormat(uiCoins.data[coinSymbol].price_usd)}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].price_btc)}}</td>
                  <td *ngIf="coins[0].currency !== 'USD'">{{numberFormat(uiCoins.data[coinSymbol].rate)}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol]['24h_volume'])}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].market_cap_usd) || 0}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].available_supply) || 0}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].total_supply) || 0}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].percent_change_1h) || 0}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].percent_change_24h) || 0}}</td>
                  <td>{{numberFormat(uiCoins.data[coinSymbol].percent_change_7d) || 0}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <div *ngIf="pageNumbers.length" class="btn-group-xs">
            <button type="button" *ngFor="let pageNum of pageNumbers" (click)="getCoins(currentSort, currentOrder, pageNum)"
            [ngClass]="{active:pageNum === page}" class="btn btn-primary button">{{pageNum}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<p style="color:red">{{error}}</p>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12" >
  <h5 class="heading">Assets</h5>
  <label>Coin : </label>
  <input class="form-control" style="width:200px;display:inline" type="text" [(ngModel)]="assetPairInput"/>
  <label>Currency : </label>
  <select class="ui default button" style="width:200px;display:inline" [(ngModel)]="selectedAssetCurrency">
    <option value="">select currency</option>
    <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
  </select>
  <button (click)="getAssets()" type="button" class="btn btn-primary button">Find</button>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
    <div class="timeline-panel">
      <div class="row">
        <div class="col-sm-12" *ngIf="assets[0]">
          <table class="table row-border hover" datatable="ng" [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>Name</th>
                <th>Exchange</th>
                <th>Pair</th>
                <th>Price(USD)</th>
                <th *ngIf="assets[0].currency !== 'USD'">Price({{assets[0].currency}})</th>
                <th>Volume(24H) (in {{assets[0].currency}})</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let asset of assets; let i = index">
                <tr>
                  <td>{{asset.name}}</td>
                  <td>{{asset.exchange}}</td>
                  <td>{{asset.pair}}</td>
                  <td>{{asset.price_usd}}</td>
                  <td *ngIf="assets[0].currency !== 'USD'">{{asset.rate}}</td>
                  <td>{{asset['24h_volume_usd']}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<p style="color:red">{{exchangeCoinListError}}</p>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12" >
  <h5 class="heading">Exchange Coin List</h5>
  <label>Coin : </label>
  <select class="ui default button" style="width:200px;display:inline" [(ngModel)]="selectedExchange">
    <option value="">select exchange</option>
    <option *ngFor="let option of exchanges" value="{{option.exchangeName}}">{{option.exchangeName}}</option>
  </select>
  <button (click)="getExchangeCoinList()" type="button" class="btn btn-primary button">Find</button>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
    <div class="timeline-panel">
      <div class="row">
        <div class="col-sm-12" *ngIf="exchangeCoinList[0]">
          <table class="table row-border hover" datatable="ng" [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>Name</th>
                <th>Pair</th>
                <th>Price(USD)</th>
                <th>Volume(24H) (in USD)</th>
                <th>Rate</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let asset of exchangeCoinList; let i = index">
                <tr>
                  <td>{{asset.name}}</td>
                  <td>{{asset.pair}}</td>
                  <td>{{asset.price_usd}}</td>
                  <td>{{asset['24h_volume_usd']}}</td>
                  <td>{{asset.rate}}</td>
                  <td>{{asset.currency}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
