<div style="width:100%;text-align:center">
  <button routerLink="/public-data" class="ui success button">
    public data
  </button>
  <button routerLink="/coin-info" class="ui success button">
    coin info
  </button>
  <button routerLink="/users" class="ui success button">
    home
  </button>
</div>
<h3 class="heading">{{userIdError}}</h3>
<div class="col-lg-12" *ngIf="userIdError === ''">
  <h3 class="heading">Authenticate Exchange</h3>
  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-6 col-md-6">
      <span class="font-red"> &nbsp; &nbsp; &nbsp; &nbsp;{{error}}</span><br/>
      <form role="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-div1">
          <fieldset class="form-group">
            <label>Exchange</label>
            <select class="ui default button" formControlName="exchangeId">
              <option value="">select exchange</option>
              <option *ngFor="let option of exchanges" value="{{option.exchangeId}}">{{option.exchangeName}}</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <label>Access Key</label>
            <input class="form-control" type="text" formControlName="apiKey">
          </fieldset>

          <fieldset class="form-group">
            <label>Secret</label>
            <input class="form-control" type="text" formControlName="secret">
          </fieldset>

          <fieldset class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" formControlName="passPhrase">
          </fieldset>
        </div>
        <div class="heading">
          <button type="submit" class="ui primary button marginTop22" [disabled]="addUser">Authenticate</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6">
      <h5 class="heading">Api Keys</h5>
      <table class="table" datatable="ng" [dtOptions]="dtOptions" *ngIf="userAccounts[0]">
        <thead>
          <tr>
            <th>Exchange</th>
            <th>Api Key</th>
            <th>Secret</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let account of userAccounts; let i = index">
            <tr>
              <td>{{account.exchangeName}}</td>
              <td><input class="form-control" value="{{account.apiKey}}" [disabled]="true"></td>
              <td><input class="form-control" value="{{account.secret}}" [disabled]="true"></td>
              <td>
                <button class="ui primary button action" (click)="syncBalance(account.exchangeId)"
                  [disabled]="balanceSync[account.exchangeId]">
                  sync balance
                </button>
                <button class="ui success button action" (click)="syncTradeHistory(account.exchangeId)"
                  [disabled]="tradesSync[account.exchangeId]">
                  sync trades history
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-12 col-md-12" style="border-bottom:1px solid black">
    <h5 class="heading">Trades History <button class="ui primary button action" (click)="getTradesHistory()"><i class="fa fa-refresh"></i></button></h5>
    <table class="table" datatable="ng" [dtOptions]="dtOptions" *ngIf="trades[0]">
      <thead>
        <tr>
          <th>Trade Id</th>
          <th>Exchange</th>
          <th>Symbol Pair</th>
          <th>Trade Type</th>
          <th>Trade Price</th>
          <th>Trade Size</th>
          <th>Trade Fee</th>
          <th>Trade Term</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let trade of trades; let i = index">
          <tr>
            <td>{{trade.tradeId}}</td>
            <td>{{trade.exchangeName}}</td>
            <td>{{trade.symbolPair}}</td>
            <td>{{trade.tradeType}}</td>
            <td>{{numberFormat(trade.tradePrice)}}</td>
            <td>{{numberFormat(trade.tradeSize)}}</td>
            <td>{{numberFormat(trade.tradeFee)}}</td>
            <td>{{trade.tradeTerm}}</td>
            <td>{{trade.timestamp}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-6">
      <div *ngIf="userForm === 'show'" style="margin-top:100px">
        <h5>Email: {{user.email}}</h5>
        <h5>Contact: {{user.contact}}</h5>
        <button type="button" class="ui button marginTop22" (click)="userForm = (userForm === 'show') ? 'edit' : 'show'">Edit your details</button>
      </div>
      <div>
        <div class="form-div1" *ngIf="userForm === 'edit'">
          <fieldset class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" [(ngModel)]="user.email">
          </fieldset>
          <fieldset class="form-group">
            <label>Contact</label>
            <input class="form-control" type="text" [(ngModel)]="user.contact">
          </fieldset>
          <div class="heading">
            <button type="button" class="ui primary button marginTop22" (click)="updateUserDetails()">Update Details</button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6" style="border-left: 1px solid black">
        <h5 class="heading">Aggregate Amount <button class="ui primary button action" (click)="getAggregationAmount()"><i class="fa fa-refresh"></i></button> </h5>
        <table class="table" *ngIf="aggregateAmount[0]" datatable="ng" [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Coin</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Change(24 hour)</th>
              <th>Value(%)</th>
              <th>ROI</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let key of aggregateAmountObj.keys; let i = index">
              <tr>
                <td>{{aggregateAmountObj.data[key].coin}}</td>
                <td>{{numberFormat(aggregateAmountObj.data[key].amount)}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].priceInUsd)}}</td>
                <td>{{numberFormat(aggregateAmountObj.data[key].change24Hour)}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].value) + "(" + numberFormat(aggregateAmountObj.data[key].valuePercentage) +")"}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].ROI)}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
  </div>
<br/><br/><br/>
<div style="display:block">
  <h3 class="heading">PortFolio  <button class="ui primary button action" (click)="getPortFolio()"><i class="fa fa-refresh"></i></button></h3>
  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-6 col-md-6">
      <h5 class="heading">Coins Contribution in overall portfolio</h5>
      <table class="table" *ngIf="portfolio.percentageContributionObj && portfolio.percentageContributionObj.keys[0]" datatable="ng" [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Coin ticker</th>
            <th>Total Units</th>
            <th>Price Per Unit<br/>(in USD)</th>
            <th>total balance<br/>(in USD)</th>
            <th>Percentage <br/> in total portfolio</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let key of portfolio.percentageContributionObj.keys; let i = index">
            <tr>
              <td>{{portfolio.percentageContributionObj.data[key].coinTicker}}</td>
              <td>{{numberFormat(portfolio.percentageContributionObj.data[key].totalUnits)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{numberFormat(portfolio.percentageContributionObj.data[key].priceOfOneUnit)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{numberFormat(portfolio.percentageContributionObj.data[key].totalBalanceInUsd)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{portfolio.percentageContributionObj.data[key].percentage}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <h5>Total Portfolio (USD) : <b>{{totalPortFolio}}</b></h5>
    </div>
    <div class="col-lg-6 col-md-6" style="border-left: 1px solid black" *ngIf="portfolio.portfolioData && portfolio.portfolioData.data">
      <h5 class="heading">Portfolio Data </h5>
      <h6>24 hour Change - {{portfolio.change1d.difference}} ({{portfolio.change1d.percentage}}%)</h6>
      <div class="card mb-3">
        <div class="card-header">
          portfolio change over time
        </div>
        <div class="card-block">
          <div class="col-lg-12 col-md-12">
            <div class="chart-contanier">
              <canvas baseChart height="100px" [datasets]="portfolio.portfolioData.data" [labels]="portfolio.portfolioData.label" [chartType]="'line'">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h3 class="heading">Subscribe to notification</h3>
  <p class="font-red"> &nbsp; &nbsp; &nbsp; &nbsp;{{subscriptionError}}</p><br/>
    <div class="col-lg-12 col-md-12" style="display:flex">
      <div class="col-lg-4 col-md-4" style="display:flex">
        <form role="form" [formGroup]="subscriptionForm" (ngSubmit)="onSubmitSubscription(subscriptionForm.value)" *ngIf="subscriptionFormType === 'add'">
          <div class="form-div1">
            <fieldset class="form-group">
              <label>Coin</label>
              <select class="ui default button" formControlName="coinTicker">
                <option value="">Select Coin</option>
                <option *ngFor="let coin of coinsList" value="{{coin.symbol}}">{{coin.symbol}}({{coin.name}})</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label>Alert Types</label>
              <select class="ui default button" formControlName="alertType">
                <option value="">Select Alert Type</option>
                <option *ngFor="let alertType of alertTypes" value="{{alertType.key}}">{{alertType.value}}</option>
              </select>
            </fieldset>
            <fieldset class="form-group" [ngClass]="subscriptionForm.value.alertType !== 'specificTime' ? 'form-group' : 'hidden'">
              <label>Change Value</label>
              <input class="form-control" type="number" formControlName="changeValue">
            </fieldset>
            <fieldset [ngClass]="subscriptionForm.value.alertType === 'specificTime' ? 'form-group' : 'hidden'">
              <p *ngIf="this.subscriptionForm.controls.changeTime.errors" class="font-red">Invalid time format</p>
              <label>Send alert at this time every day : (24 hour format) </label>
              <input class="form-control" type="text" formControlName="changeTime">
            </fieldset>
          </div>
          <div class="heading">
            <button type="submit" class="ui primary button marginTop22">Add</button>
            <button type="button" class="ui button" (click)="changeSubscriptionFormTypeToUpdate()">or, edit an existing subscription</button>
          </div>
        </form>

        <form role="form" [formGroup]="subscriptionUpdateForm" (ngSubmit)="onSubmitSubscriptionUpdate(subscriptionUpdateForm.value)" *ngIf="subscriptionFormType === 'update'">
          <div class="form-div1">
            <fieldset class="form-group">
              <label>Edit Subscription</label>
              <select (change)="setSubToUpdate()" [(ngModel)]="subscriptionId" class="ui default button" formControlName="coinTicker">
                <option value="">Select subscription</option>
                <option *ngFor="let subscription of subscriptions" value="{{subscription.id}}"
                [ngClass]="subscription.alertType === 'specificTime' ? 'hidden' : ''">Edit Subscription {{subscription.id}}</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label>Coin</label>
              <select class="ui default button" formControlName="coinTicker">
                <option value="">Select Coin</option>
                <option *ngFor="let coin of coinsList" value="{{coin.symbol}}">{{coin.symbol}}({{coin.name}})</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label>Alert Types</label>
              <select class="ui default button" formControlName="alertType">
                <option value="">Select Alert Type</option>
                <option *ngFor="let alertType of alertTypes" value="{{alertType.key}}">{{alertType.value}}</option>
              </select>
            </fieldset>
            <fieldset class="form-group" [ngClass]="subscriptionUpdateForm.value.alertType !== 'specificTime' ? 'form-group' : 'hidden'">
              <label>Change Value</label>
              <input class="form-control" type="number" formControlName="changeValue">
            </fieldset>
            <fieldset [ngClass]="subscriptionUpdateForm.value.alertType === 'specificTime' ? 'form-group' : 'hidden'">
              <label>Send alert at this time every day : (24 hour format) </label>
              <input class="form-control" type="text" formControlName="changeTime">
            </fieldset>
          </div>
          <div class="heading">
            <button type="submit" class="ui primary button marginTop22">Update</button>
            <button type="button" class="ui button" (click)="changeSubscriptionFormTypeToAdd()">or, add a new subscription</button>
          </div>
        </form>
      </div>
      <div class="col-lg-8 col-md-8">
        <h5 class="heading">Your Subscriptions</h5><br/>
        <table class="table" *ngIf="subscriptions[0]">
          <thead>
            <tr>
              <th>Id</th>
              <th>Coin ticker</th>
              <th>Subscrition<br/>Type</th>
              <th>Change Value</th>
              <th>Change Time</th>
              <th>Base Value</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let subscription of subscriptions; let i = index">
              <tr *ngIf="subscription">
                <td>{{subscription.id}}</td>
                <td>{{subscription.coinTicker}}</td>
                <td>{{subscription.alertType}}</td>
                <td>{{subscription.changeValue}}</td>
                <td>{{changeTimeToLocal(subscription.changeTime, subscription.alertType)}}</td>
                <td>{{subscription.baseValue}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
</div>
