<div style="width:100%;text-align:center">
  <button routerLink="/public-data" class="ui success button">
    public data
  </button>
  <button routerLink="/coin-info" class="ui success button">
    coin info
  </button>
  <button routerLink="/users" class="ui success button">
    home
  </button>
</div>
<h3 class="heading">{{userIdError}}</h3>
<div class="col-lg-12" *ngIf="userIdError === ''">
  <h3 class="heading">Authenticate Exchange</h3>
  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-6 col-md-6">
      <span class="font-red"> &nbsp; &nbsp; &nbsp; &nbsp;{{error}}</span><br/>
      <form role="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-div1">
          <fieldset class="form-group">
            <label>Exchange</label>
            <select class="ui default button" formControlName="exchangeId">
              <option value="">select exchange</option>
              <option *ngFor="let option of exchanges" value="{{option.exchangeId}}">{{option.exchangeName}}</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <label>Account Name</label>
            <input class="form-control" type="text" formControlName="accountName">
          </fieldset>

          <fieldset class="form-group">
            <label>Access Key</label>
            <input class="form-control" type="text" formControlName="apiKey">
          </fieldset>

          <fieldset class="form-group">
            <label>Secret</label>
            <input class="form-control" type="text" formControlName="secret">
          </fieldset>

          <fieldset class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" formControlName="passPhrase">
          </fieldset>
        </div>
        <div class="heading">
          <button type="submit" class="ui primary button marginTop22" [disabled]="addUser">Authenticate</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6">
      <h5 class="heading">Api Keys</h5>
      <table class="table" datatable="ng" [dtOptions]="dtOptions" *ngIf="userAccounts[0]">
        <thead>
          <tr>
            <th>Account Name</th>
            <th>Exchange</th>
            <th>Api Key</th>
            <th>Secret</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let account of userAccounts; let i = index">
            <tr>
              <td>{{account.accountName}}</td>
              <td>{{account.exchangeName}}</td>
              <td><input class="form-control" value="{{account.apiKey}}" [disabled]="true"></td>
              <td><input class="form-control" value="{{account.secret}}" [disabled]="true"></td>
              <td>
                <button class="ui primary button action" (click)="syncBalance(account.exchangeId, account.userAccountId)"
                  [disabled]="balanceSync[account.userAccountId]">
                  sync balance
                </button>
                <button class="ui success button action" (click)="syncTradeHistory(account.exchangeId, account.userAccountId)"
                  [disabled]="tradesSync[account.userAccountId]">
                  sync trades history
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-12 col-md-12" style="border-bottom:1px solid black">
    <h5 class="heading">Trades History <button class="ui primary button action" (click)="getTradesHistory()"><i class="fa fa-refresh"></i></button></h5>
    <table class="table" datatable="ng" [dtOptions]="dtOptions" *ngIf="trades[0]">
      <thead>
        <tr>
          <th>Trade Id</th>
          <th>Order Id</th>
          <th>Exchange</th>
          <th>Symbol Pair</th>
          <th>Trade Type</th>
          <th>Price Per<br/>Unit(USD)</th>
          <th>Base Symbol<br/> Size</th>
          <th>Total Base <br/>Price(USD)</th>
          <th>Trade Fee</th>
          <th>Total Cose<br/>(with fee)</th>
          <th>Trade Term</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let trade of trades; let i = index">
          <tr>
            <td>{{trade.tradeId}}</td>
            <td>{{trade.orderId}}</td>
            <td>{{trade.exchangeName}}</td>
            <td>{{trade.symbolPair}}</td>
            <td>{{trade.tradeType}}</td>
            <td>{{numberFormat(trade.tradePrice)}}</td>
            <td>{{numberFormat(trade.tradeSize)}}</td>
            <td>{{numberFormat(trade.tradePrice * trade.tradeSize)}}</td>
            <td>{{numberFormat(trade.tradeFee)}}</td>
            <td>{{numberFormat(trade.tradeFee + (trade.tradePrice * trade.tradeSize))}}</td>
            <td>{{trade.tradeTerm}}</td>
            <td>{{trade.timestamp}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-6 col-md-6">
      <h5 class="heading">Coins Contribution in overall portfolio</h5>
      <table class="table" *ngIf="portfolio.percentageContributionObj && portfolio.percentageContributionObj.keys[0]" datatable="ng" [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Coin ticker</th>
            <th>Total Units</th>
            <th>Price Per Unit<br/>(in USD)</th>
            <th>total balance<br/>(in USD)</th>
            <th>Percentage <br/> in total portfolio</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let key of portfolio.percentageContributionObj.keys; let i = index">
            <tr>
              <td>{{portfolio.percentageContributionObj.data[key].coinTicker}}</td>
              <td>{{numberFormat(portfolio.percentageContributionObj.data[key].totalUnits)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{numberFormat(portfolio.percentageContributionObj.data[key].priceOfOneUnit)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{numberFormat(portfolio.percentageContributionObj.data[key].totalBalanceInUsd)}}</td>
              <td class="{{portfolio.percentageContributionObj.data[key].priceClass}}">{{portfolio.percentageContributionObj.data[key].percentage}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <h5>Total Portfolio (USD) : <b>{{totalPortFolio}}</b></h5>
    </div>
    <div class="col-lg-6 col-md-6" style="border-left: 1px solid black">
        <h5 class="heading">Aggregate Amount <button class="ui primary button action" (click)="getAggregationAmount()"><i class="fa fa-refresh"></i></button> </h5>
        <table class="table" *ngIf="aggregateAmount[0]" datatable="ng" [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Coin</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Change(24 hour)</th>
              <th>Value(%)</th>
              <th>ROI</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let key of aggregateAmountObj.keys; let i = index">
              <tr>
                <td>{{aggregateAmountObj.data[key].coin}}</td>
                <td>{{numberFormat(aggregateAmountObj.data[key].amount)}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].priceInUsd)}}</td>
                <td>{{numberFormat(aggregateAmountObj.data[key].change24Hour)}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].value) + "(" + numberFormat(aggregateAmountObj.data[key].valuePercentage) +")"}}</td>
                <td class="{{aggregateAmountObj.data[key].priceClass}}">{{numberFormat(aggregateAmountObj.data[key].ROI)}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
  </div>
<br/><br/><br/>
<div style="display:block">
  <h3 class="heading">PortFolio  <button class="ui primary button action" (click)="getPortFolio()"><i class="fa fa-refresh"></i></button></h3>
  <div class="col-lg-12 col-md-12" style="display:flex">
    <div class="col-lg-12 col-md-12" *ngIf="portfolio.portfolioData && portfolio.portfolioData.data">
      <h5 class="heading">Portfolio Data </h5>
      <h6>24 hour Change - {{portfolio.change1d.difference}} ({{portfolio.change1d.percentage}}%)</h6>
      <div class="card mb-3">
        <div class="card-header">
          portfolio change over time
        </div>
        <div class="card-block">
          <div class="col-lg-12 col-md-12">
            <div class="chart-contanier">
              <canvas baseChart height="100px" [datasets]="portfolio.portfolioData.data" [labels]="portfolio.portfolioData.label" [chartType]="'line'">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
